<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>

    <link rel="stylesheet" th:href="@{/css/cumulative_style.css}" type="text/css">
</head>

<body>
<header th:insert="~{/fragments/header :: header}"></header>

<h2>Customers</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Date of birth</th>
        <th>Phone number</th>
        <th sec:authorize="hasRole('MANAGER')" colspan="2">Operations</th>
    </tr>

    <tr th:each="customer : ${customers}">
        <td th:text="${customer.idCustomer}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.dateBirth}"></td>
        <td th:text="${customer.mobilePhone}"></td>
        <td sec:authorize="hasRole('MANAGER')">
            <a th:href="@{/customers/update/{id}(id=${customer.idCustomer})}">
                <button class="color blue button">Update</button>
            </a>
        </td>
        <td sec:authorize="hasRole('MANAGER')">
            <a th:href="@{/customers/delete/{id}(id=${customer.idCustomer})}">
                <button class="color red button">Delete</button>
            </a>
        </td>
    </tr>
</table>

<div class="div-centre">
    <ul class="pagination">
        <li th:each="pageNumber : ${#numbers.sequence(1, countPages)}">
            <a class="active"
               th:if="${page eq pageNumber}"
               href="#"
               th:text="${pageNumber}">
            </a>
            <a th:if="${not (page eq pageNumber)}"
               th:href="@{${'/customers/main'}(page=${pageNumber}, size=${customers.size})}"
               th:text="${pageNumber}">
            </a>
        </li>
    </ul>
</div>

<div sec:authorize="hasRole('MANAGER')">
    <input class="color green button" type="button" value="Add new Customers" onclick="window.location.href = '/customers/new'">
<br>
<br>
</div>

<input class="color button" type="button" value="Back" onclick="window.location.href = '/'">
</body>
</html>