<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<h2>Customers Main View</h2>

<table border=\"1\" width=\"100%\" cellpadding=\"5\">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Date of birth</th>
        <th>Phone number</th>
        <th colspan="2">Operations</th>
    </tr>

    <tr th:each="customer : ${customers}">
        <td th:text="${customer.idCustomer}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.dateBirth}"></td>
        <td th:text="${customer.mobilePhone}"></td>
        <td>
            <a th:href="@{/customers/update/{id}(id=${customer.idCustomer})}">
                <button>
                    <span>Update</span>
                </button>
            </a>
        </td>
        <td>
            <a th:href="@{/customers/delete/{id}(id=${customer.idCustomer})}">
                <button>
                    <span>Delete</span>
                </button>
            </a>
        </td>
    </tr>
</table>

<div>
    <ul>
        <li th:each="pageNo : ${#numbers.sequence(1, countPages + 1)}">

            <a th:if="${page eq pageNo}" href="#">
                <button>
                    <span th:text="${pageNo}"></span>
                </button>
            </a>
            <a th:if="${not (page eq pageNo)}" th:href="@{${'/customers/main'}(page=${pageNo}, size=${customers.size})}">
                <button>
                    <span th:text="${pageNo}"></span>
                </button>
            </a>
        </li>
    </ul>
</div>

<input type="button" value="Add new Customers" onclick="window.location.href = '/customers/new'">
<br>
<br>

<input type="button" value="Back" onclick="window.location.href = '/'">
</body>
</html>