.form_table {
    display: inline-block;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    margin-bottom: 16px;
}

.form_table td {
    width: 85px;
    border: 1px solid #dddddd;
    padding: 5px;
}

.form_table input {
    display: block;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.form_table select {
    width: 100%;
    display: block;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
