#navbar {
    height: 30px;
    padding-left: 25px;
    min-width: 470px;
}

#navbar ul {
    display: none;
    position: absolute;
    top: 100%;
}

#navbar, #navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar li {
    float: left;
    position: relative;
    height: 100%;
}

#navbar li a {
    display: block;
    padding: 6px;
    color: #000;
    text-decoration: none;
    text-align: center;
}

#navbar li a:hover {
    background-color: #ddd;
}

#navbar ul li {
    float: none;
}

#navbar .link {
    float: right;
    display: flex;
    flex-direction: row;
}

#navbar .role {
    pointer-events: none;
}

#navbar .logout {
    color: #fff;
    background-color: #c43c35;
    border-radius: .25rem;
    border: 1px solid transparent;
}

#navbar .logout:hover {
    background-color: #992e28;
}

#navbar input {
    padding: .25rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

#navbar .logo {
    width: 15%;
}

#navbar .search-input {
    width: 350px;
}

#navbar .search {
    width: 37%;
    text-align: center;
}