<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Balance info</title>

    <link rel="stylesheet" th:href="@{/css/cumulative_style.css}" type="text/css">
</head>

<body>
<header th:insert="~{/fragments/header :: header}"></header>

<h2>Balance info</h2>

<div class="container div-centre">
    <form class="form" th:action="@{/balances/save}" th:object="${balance}" th:method="post">

        <input type="hidden" th:field="*{idBalance}">

        <table class="form_table">
            <tr>
                <td><label for="idCustomer">Id Customer</label></td>
                <td>
                    <select id="idCustomer" th:field="${balance.customer.idCustomer}" name="idCustomer">
                        <option th:each="customer : ${customers}"
                                th:value="${customer.idCustomer}"
                                th:text="${customer.firstName} + ' ' + ${customer.lastName}">

                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="idTariff">Id Tariff</label></td>
                <td>
                    <select id="idTariff" th:field="${balance.tariff.idTariff}" name="idTariff">
                        <option th:each="tariff : ${tariffs}"
                                th:value="${tariff.idTariff}"
                                th:text="${tariff.title}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="balance">Balance</label></td>
                <td><input type="text" th:field="*{balance}" id="balance"></td>
            </tr>
        </table>
        <br>

        <input class="color green button form-btn btn-block" type="submit" value="Save">
        <input class="color button form-btn btn-block" type="button" value="Back" onclick="window.location.href = '/balances/main'">
    </form>
</div>
</body>
</html>