<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index View</title>

    <link rel="stylesheet" th:href="@{/css/cumulative_style.css}" type="text/css">
</head>
<body>
<header th:insert="~{/fragments/header :: header}"></header>

<h2>Start View</h2>

<div class="div-centre">
    <input class="color blue button" type="button" value="Customers" onclick="window.location.href = '/customers/main'">
    <input class="color blue button" type="button" value="Tariffs" onclick="window.location.href = '/tariffs/main'">
    <input sec:authorize="hasRole('MANAGER')" class="color blue button" type="button" value="Balances" onclick="window.location.href = '/balances/main'">
</div>

<div class="div-centre" style="margin-top: 16px">
    <input class="color blue button" type="button" value="Swagger-ui" onclick="window.location.href = '/swagger-ui.html'">
    <input class="color blue button" type="button" value="API-docs" onclick="window.location.href = '/v2/api-docs'">
</div>
</body>
</html>