<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tariffs</title>

    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/table.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/button.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/pagination/pagination.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/divCentre.css}" type="text/css">
</head>

<body>
<h2>Tariffs All</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
        <th sec:authorize="hasRole('MANAGER')" colspan="2">Operations</th>
    </tr>

    <tr th:each="tariff : ${tariffs}">
        <td th:text="${tariff.idTariff}"></td>
        <td th:text="${tariff.title}"></td>
        <td th:text="${tariff.price}"></td>
        <td sec:authorize="hasRole('MANAGER')">
            <a th:href="@{/tariffs/update/{id}(id=${tariff.idTariff})}">
                <button class="color button">Update</button>
            </a>
        </td>
        <td sec:authorize="hasRole('MANAGER')">
            <a th:href="@{/tariffs/delete/{id}(id=${tariff.idTariff})}">
                <button class="color red button">Delete</button>
            </a>
        </td>
    </tr>

</table>

<div class="divCentre">
    <ul class="pagination">
        <li th:each="pageNumber : ${#numbers.sequence(1, countPages)}">
            <a class="active"
               th:if="${page eq pageNumber}"
               href="#"
               th:text="${pageNumber}">
            </a>
            <a th:if="${not (page eq pageNumber)}"
               th:href="@{${'/tariffs/main'}(page=${pageNumber}, size=${tariffs.size})}"
               th:text="${pageNumber}">
            </a>
        </li>
    </ul>
</div>

<div sec:authorize="hasRole('MANAGER')">
    <input class="color green button" type="button" value="Add new Tariffs" onclick="window.location.href = '/tariffs/new'">
<br>
<br>
</div>

<input class="color button" type="button" value="Back" onclick="window.location.href = '/'">
</body>
</html>