<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tariffs</title>
</head>
<body>
<h2>Tariffs All</h2>

<table border=\"1\" width=\"100%\" cellpadding=\"5\">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
        <th colspan="2">Operations</th>
    </tr>

    <tr th:each="tariff : ${tariffs}">
        <td th:text="${tariff.idTariff}"></td>
        <td th:text="${tariff.title}"></td>
        <td th:text="${tariff.price}"></td>
        <td>
            <a th:href="@{/tariffs/update/{id}(id=${tariff.idTariff})}">
                <button>
                    <span>Update</span>
                </button>
            </a>
        </td>
        <td>
            <a th:href="@{/tariffs/delete/{id}(id=${tariff.idTariff})}">
                <button>
                    <span>Delete</span>
                </button>
            </a>
        </td>
    </tr>

</table>

<div>
    <ul>
        <li th:each="pageNumber : ${#numbers.sequence(1, countPages)}">

            <a th:if="${page eq pageNumber}" href="#">
                <button>
                    <span th:text="${pageNumber}"></span>
                </button>
            </a>
            <a th:if="${not (page eq pageNumber)}" th:href="@{${'/tariffs/main'}(page=${pageNumber}, size=${tariffs.size})}">
                <button>
                    <span th:text="${pageNumber}"></span>
                </button>
            </a>
        </li>
    </ul>
</div>

<input type="button" value="Add new Tariffs" onclick="window.location.href = '/tariffs/new'">
<br>
<br>

<input type="button" value="Back" onclick="window.location.href = '/'">
</body>
</html>