<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tariff info</title>
</head>
<body>
<h2>Tariff info</h2>

<form th:action="@{/tariffs/save}" th:object="${tariff}" th:method="post">

    <input type="hidden" th:field="*{idTariff}" id="idTariff">

    <table border=\"1\" width=\"100%\" cellpadding=\"5\">
        <tr>
            <td><label for="title">Title</label></td>
            <td><input type="text" th:field="*{title}" id="title"></td>
        </tr>
        <tr>
            <td><label for="price">Price</label></td>
            <td><input type="text" th:field="*{price}" id="price"></td>
        </tr>
    </table>
    <br>

    <input type="submit" value="Save">
</form>
<br>

<input type="button" value="Back" onclick="window.location.href = '/tariffs/main'">

</body>
</html>